
 .breadcrumbs_list{
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 0px;
  background-color: white;
  max-height: 5vh;
  box-shadow: 0 0 8px 8px rgb(0, 0, 0) inset;
   h4{
    color: black;
    padding: 5px 15px;
    &:hover{
     font-size: larger;
     text-transform: uppercase;
     font-weight: 700;
    }
   }
  }