
 .breadcrumbs_list{
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 0px;
  background-color: white;
  max-height: 5vh;
   p{
    color: black;
    &:hover{
     font-size: larger;
     text-transform: uppercase;
     font-weight: 500;
    }
   }
  }