.card_cardBorder {
  border: 5px #FEF442 solid;
  min-width: 350px;
  margin: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 1%;
  backdrop-filter: blur(15px);
  color: white;
}

.card_cardDetail {
  text-transform: capitalize;
}

.card_detailProp {
  text-decoration: underline;
  font-weight: bold;
}

.card_residents {
  text-align: center;
  margin: 0;
  font-size: x-large;
}

.card_name {
  text-align: center;
  text-transform: uppercase;
}
