.cards_flex{
 display: flex;
 flex-direction: row;
 width: 100%;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 }

.cards_loading{
  position: absolute;
  background-image: url("../../media/star\ wars\ loading.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width:30%;
  left: 35%;
  box-shadow: 0 0 8px 8px rgb(15, 15, 15) inset;
  
}
