.card_cardBorder{
 border: 5px black solid;
 width: fit-content;
 margin: 100px;
 margin-bottom: 10px;
 }
 
.card_cardDetail{
 text-transform: capitalize;
 }
 
 .card_detailProp{
 text-decoration: underline;
 font-weight: bold;
 }