.navbar_image{
 background-image: url("../../media/star\ wars.jpg");
 background-position: 0% 50%;
 background-size: cover;
 height: 25vh;
 width: 100%;
}

.navbar_search{
  position: relative;
  margin-left: 500px;
}