
 .pagination_list{
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 0px;
  button{
   border: 3px #FEF442 solid;
   height: 5vh;
   width:fit-content;
   font-size: x-large;
   border-radius: 10px;
   margin: 5px
  }
  
  }