
.searchbar_container{
 margin-left: 40vw;
 margin-top: 12vh;
 width: fit-content;
  input{
   width: 15vw;
   height: 4vh;
   font-size: x-large;
   padding: 0;
   padding: 2.5px
  }

}
.searchbar_group{
 display: flex;
 flex-direction: row;
 justify-items: center;
 align-items: center;
  input{
   border: 1px black solid;
  }
}

.searchbar_search{
 width:5vw;
 height: 4.5vh;
 padding: 0;
 
}

.searchbar_clean{
 width: 100%;
 font-size: medium;
 margin-top: 1vh;
 height: 4vh;
}

.searchbar_home{
 margin-left: 7vw;
 h3{
  letter-spacing: 0.2vw;
 }
}