body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
 margin: 0 100px 0 100px;
 align-content: center;
}

.cardBorder{
 border: 5px black solid;
 width: fit-content;
 margin: 100px;
 margin-bottom: 10px;
}

.flexCards{
 display: flex;
 flex-direction: row;
 width: 100%;
flex-wrap: wrap;
}

.alert{
 font-size: medium;
 color: rgb(204, 2, 2);
 border: rgb(204, 2, 2) solid 3px;
 width: fit-content;
 margin-left: 38%;
}

.cardDetail{
 text-transform: capitalize;
}

.detailProp{
 text-decoration: underline;
 font-weight: bold;
}

.paginationList{
 display: flex;
 list-style: none;
 margin-left: 40%;
}